<!doctype html>
{% load static %}
{% load cart_template_tags %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Album example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "/css/album.css" %}" rel="stylesheet">
{#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">#}
    <link rel="stylesheet" href="{% static 'css/all.css'%}">


</head>

<body>

<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand fas fa-book-open" href="/"> Ebook4U</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                        <a class="nav-link" href="{% url 'book_list' %}">Nasze Ebooki</a></li>
                    <li class="nav-item">
                {% if user.is_authenticated %}



                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Witaj {{ user.username }}!
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="accounts/password_change/">Zmień hasło</a>
                    </div>
<li class="nav-item">
                        <a class="nav-link " href="{% url 'my-books' %}">Moje Książki</a></li>

                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'logout' %}">Wyloguj się</a></li>
                {% else %}
                    <li><a class="nav-link active" href="{% url 'login' %}">Zaloguj się</a></li>
                    <li><a class="nav-link" href="{% url 'signup' %}">Zarejestruj się</a></li>
                {% endif %}



                {% if request.user.is_authenticated and request.user.is_staff %}
                                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dodaj
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'add_ebook' %}">Dodaj ebooka</a>
                        <a class="dropdown-item" href="{% url 'add_author' %}">Dodaj autora</a>
                        <a class="dropdown-item" href="{% url 'add_gendre' %}">Dodaj gatunek</a>
                        <a class="dropdown-item" href="{% url 'add_publisher' %}">Dodaj wydawce</a>
                    </div>
                </li>
                    <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                        <a class="nav-link fas fa-shopping-basket fa-2x" href="{% url 'cart' %}"> {{ request.user|cart_products_count }}</a></li>


            </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                        <a class="nav-link fas fa-shopping-basket fa-2x" href="{% url 'cart' %}"></a></li>


            </ul>

                {% endif %}


            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Wpisz szukaną frazę" aria-label="Search" name="q">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Wyszukaj</button>
            </form>
        </div>
    </nav>
</header>
<main role="main">
    {% block content %}

    {% endblock %}
</main>
<footer class="text-muted bg-dark ">
    <div class="container ">
        <p class="fixed-bottom">
            <a class="btn btn-primary" href="#">Powrót na górę</a>
        </p>
{% now "Y" as current_year %}
<p style="text-align: center"> <i class="fas fa-book-open"></i> Ebook4U {{ current_year }}</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="{% static "/js/bootstrap.min.js" %}"></script>


</body>
</html>
