footer {
    padding-bottom: 10rem !important;
}

#promotion {
    background-color: white;
    color: red;
    border: red solid 1px;
    padding: 5px;
    border-radius: 10px;
}

#promotion:hover {
    color: white;
    background-color: #f12d2d;
    text-decoration: none;
    transition: 0.3s;
}

#ad_to_cart {
        background-color: darkblue;
    color: white;
    border: blue solid 1px;
    padding: 5px;
    border-radius: 10px;
}

#ad_to_cart:hover{
    color: darkblue;
    background-color: white;
    text-decoration: none;
    transition: 0.3s;

}