<h2>Produkt details</h2>
<ul>
    {{ object }}
    <li>Tytuł: {{ object.name }}</li>
    <li>Autor: {{ object.autor }}</li>
    <li>format:
        {% for format in object.format.all %}
            {{ format.name }},
        {% endfor %}
    </li>
    <li>Gatunek:
        {% for gendre in object.gendre.all %}
            {{ gendre.name }}
        {% endfor %}
    </li>
    {% if object.discount_percent > 0 %}
    {% endif %}
    {% if object.discount_percent > 0 %}
        <li>Cena: <strike>{{ object.price_brutto }}</strike> zł</li>
        <li style="color:red">Cena: {{ object.price_brutto_discount|floatformat:2 }} zł</li>
    {% elif object.discount_percent == 0 %}
        <li>Cena brutto: {{ object.price_brutto }}</li>
    {% endif %}
    <li>Wydawca: {{ object.publisher }}</li>
    <li>Opis: {{ object.description }}</li>
    <img src="{{ object.image.url }}">

</ul>
{% if request.user.is_authenticated and request.user.is_staff %}
    <a href="{% url 'edit-ebook' ebook.pk %}"><sub>edytuj</sub> </a>
    <a href="{% url 'delete-ebook' ebook.pk %}"><sub>usuń</sub> </a>

{% endif %}
