
<div class="col mb-4">
    <div class="card h-100">
        {#        {% if ebook in user.profile.products.all %} KUPIONY {% endif %}#}
        <a href="{% url 'ebook_details' ebook.slug %} ">
            <img src="{{ ebook.image.url }}" class="card-img-top" alt="..."

                 style="width: 157px;height:250px;display: block;margin: 0 auto;padding-top: 15px;"></a>
        <div class="card-body">
            <ul style="list-style-type:none;padding: 0;">
                <li style="text-align: center"><a
                        href="{% url 'ebook_details' ebook.slug %} ">{{ ebook.name }}</a></li>
                <li style="text-align: center"><a style="color: black;"
                                                  href="{% url 'ebook_author' ebook.autor.slug %}">{{ ebook.autor }}</a>
                </li>
            </ul>
            {% if ebook in user.profile.products.all %}
                <table style="width:100%">

                    <tr style="text-align: center">
                        <td>
                            <a class="btn btn-primary btn-sm" href={{ ebook.file_upload_1.url }}>mobi</a>
                        </td>
                        <td style="color:red">
                            <a class="btn btn-primary btn-sm" href={{ ebook.file_upload_2.url }}>epub</a>
                        </td>
                    </tr>
                </table>
                <div style="text-align: center;margin-top: 2px">
                    <a class="btn btn-success btn-sm" href="{% url 'my-books' %}" role="button">Już posiadasz</a>
                </div>
            {% else %}
                <table style="width:100%">
                    {% if ebook.discount_percent > 0 %}
                        <tr style="text-align: center">
                            <td>
                                <strike>{{ ebook.price_brutto|floatformat:2 }}</strike>
                                zł
                            </td>
                            <td style="color:red">
                                <big>{{ ebook.price_brutto_discount|floatformat:2 }} zł</big>
                            </td>
                        </tr>
                    {% elif ebook.discount_percent == 0 %}
                        <tr style="text-align: center">
                            <td> {{ ebook.price_brutto|floatformat:2 }} zł
                            </td>
                        </tr>
                    {% endif %}
                </table>
                <div style="text-align: center">
                    <a class="btn btn-primary btn-sm" href="{% url 'add_book_to_cart' ebook.id %}" role="button">Do
                        koszyka</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>