{% extends 'base.html' %}
{% block title %}Ebooki w najlepszej cenie- Ebook4U {% endblock %}
{% block content %}
    {% load static %}
    <div class="container">
    <div class="row">
            <div class="col-sm-3"
        <h8>Polecane:</h8>
        <ul style="list-style-type:none;">
            <li><a href="{% url 'top-10' %}">Top 10</a></li>
            <li><a href="{% url 'promo_ebook' %}">Promocje</a></li>
            <li><a href="{% url 'new_ebook' %}">Nowości</a></li>
        </ul>
        <h8>Kategorie:</h8>
        <ul style="list-style-type:none;">
            {% for gendre in gendre_count %}
                <span style="margin-right:50px" class="ml-25"><li><a
                        href="{% url 'ebook_gendre' gendre.slug %}">{{ gendre }} <span
                        class="num-of-ads">({{ gendre.total_gendre }})</span></a></li>
            {% endfor %}
        </ul>
            </div>
{#    Baner ..................................#}

            <div class="col-sm-9">

<div style="padding-top: 50px" id="demo" class="carousel slide" data-ride="carousel">

  <!-- The slideshow -->
  <div class="carousel-inner">
{% for baner in mainbaner %}
         <div class="carousel-item active">
        <a href="{{ baner.url}} ">
      <img src="{{ baner.image.url }}" alt="{{ baner.name}}" width="820" height="325"></a>
         </div>
        {% endfor %}
      {% for baner in banners %}
        <div class="carousel-item">
        <a href="{{ baner.url }} ">
      <img src="{{ baner.image.url }}" alt="{{ baner.name}}" width="820" height="325"></a>
    </div>
      {% endfor %}

  </div>


  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
            </div>
    </div>

{#.................................#}
<h5><a href="{% url 'top-10' %}">Najlepiej oceniane:</a></h5>
        <div class="row row-cols-1 row-cols-md-5">
            {% for ebook in top_5_rated %}
                {% include "books/book_card.html" %}
            {% endfor %}
        </div>




        <h5><a href="{% url 'new_ebook' %}">Nowości:</a></h5>
        <div class="row row-cols-1 row-cols-md-5">
            {% for ebook in last5_ebooks %}
                {% include "books/book_card.html" %}
            {% endfor %}
        </div>
        <h5><a href="{% url 'promo_ebook' %}">Promocje:</a></h5>
        <div class="row row-cols-1 row-cols-md-5">
            {% for ebook in discount_books %}
                {% include "books/book_card.html" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}