{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h8>Polecane:</h8>
        <ul style="list-style-type:none;">
            <li><a href="">Top 20</a></li>
            <li><a href="{% url 'promo_ebook' %}">Promocje</a></li>
            <li><a href="{% url 'new_ebook' %}">Nowości</a></li>
        </ul>
        <h8>Kategorie:</h8>
        <ul style="list-style-type:none;">
            {% for gendre in gendre_count %}
                <span style="margin-right:50px" class="ml-25"><li><a
                        href="{% url 'ebook_gendre' gendre.slug %}">{{ gendre }} <span
                        class="num-of-ads">({{ gendre.total_gendre }})</span></a></span></li>
            {% endfor %}
        </ul>
        <h5><a href="{% url 'new_ebook' %}">Nowości:</a></h5>
        <div class="row row-cols-1 row-cols-md-5">
            {% for ebook in last5_ebooks %}
                {% include "books/book_card.html" %}
            {% endfor %}
        </div>
        <h5><a href="{% url 'promo_ebook' %}">Promocje:</a></h5>
        <div class="row row-cols-1 row-cols-md-5">
            {% for ebook in discount_books %}
                {% include "books/book_card.html" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}