{% extends 'base.html' %}
{% block content %}
     <div class="container">
koszyk :<br>
    {% for item in cart.cartproduct_set.all %}
        <p><img src="{{ item.product.image.url }}" class="card-img" alt="..." style="width: 83px;height:125px "> {{ item.product.name }} {{ item.product.price_brutto }} {{ item.quantity }} {{ item.product.discount_percent }}</p>
             <table style="width:100%">
                {% if item.product.discount_percent > 0 %}
                    <tr style="text-align: center">
                        <td style="color:red">
                            <big>{{ item.product.price_brutto_discount|floatformat:2 }} zł</big>
                        </td>
                    </tr>
                {% elif item.product.discount_percent == 0 %}
                    <tr style="text-align: center">
                        <td> {{ item.product.price_brutto|floatformat:2 }} zł
                        </td>
                    </tr>
                {% endif %}
        </table>
            {% endfor %}

     </div>
{% endblock %}